<header>
    <h1><%= link_to "First_App", home_index_path %></h1>
　　　<div class="navBtn">
　　　　　<button class="navIcon"><span class="iconLayer"></span></button>
		<!-- /.navBtn --></div>
		<div class="menu menuOff">
			<ul>
				<li><%= link_to 'ユーザー一覧', users_path %></li>
				<li><%= link_to '投稿一覧', microposts_path %></li>
				<li><a href="#">メニュー</a></li>
				<li><a href="#">メニュー</a></li>
				<li><a href="#">メニュー</a></li>
				<li><a href="#">メニュー</a></li>
			</ul>
		<!-- / .menu menuOff --></div>
</header>